.page-header {
    background-color: #3b3c3d;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-align: center;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    float: right;
}

.movie-form textarea, .movie-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-decoration: none;
}

.top-right {
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-decoration: none;
}

.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    margin-left: 10px;
    color: white;
    font-size:25px;
    text-decoration: none;
    font-family: 'Lobster';
    list-style: none;
}

.movie {
    margin-bottom: 70px;
}

.movie h1 a, .movie h1 a:visited {
    color: #3b3c3d;
}

.serie-form textarea, .serie-form input {
    width: 100%;
}

.serie {
    margin-bottom: 70px;
}

.serie h1 a, .serie h1 a:visited {
    color: #3b3c3d;
}

.anime-form textarea, .anime-form input {
    width: 100%;
}

.anime {
    margin-bottom: 70px;
}

.anime h1 a, .serie h1 a:visited {
    color: #3b3c3d;
}

.home {
    padding:30px;
    margin-left:500px;
    text-align:center;
}

.white {
    color: ghostwhite;
}

.cool {
    font-family: 'Lobster', cursive;
}

.norm-text {
    font-family: 'Times New Roman', Times, serif
}

table.stable{
    
    width: 250px;
}

td.long{
    width:100px;
}

table.center {
    width: 250%;
    margin-left:30%; 
    margin-right:30%;
  }
