{% extends 'registration/mymovies/base.html' %}


{% block content %}

    <div class="container">
        <div class="row">
            <h3 style="text-align: center;">Welcome!</h3>
            <p style="font-size:18px; text-align: center; font-family: 'Times New Roman', Times, serif;">
                <br>In this website you'll be able to keep track of all your watched movies, series and animes. 
                    <br>Please sign in or register if you haven't yet. Go ahead and make your own list.</br>
                </br>
            </p>
                &emsp;
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post"">
                        {% csrf_token %}

                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}&ensp;</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                &ensp;
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                        </p>
                        &ensp;
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="login" />
                                &ensp;
                                <a  href="/register"  class="btn <btn-primary></btn-primary> btn-sm">Register</a>
                            </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if form.errors %}

<center><p style=color:darkred;margin-left:400px; >Your username and password didn't match. Please try again.</p></center>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<center><p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p></center>
    {% else %}

<center><p style=margin-left:400px;>Please login to see this page.</p></
    {% endif %}
{% endif %}
{% endblock %}


{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
{% endblock %}