{% extends 'registration/mymovies/base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="register-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign up</h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{form.as_p}}
                            {{userform}}
                            {{userprofileform}}
                            <center>
                                <input class="btn btn-success btn-sm" type="submit" value="register">
                            </center>
                        </form>
                    </div>
{% endblock %}