{% extends 'registration/mymovies/base.html' %}

{% block content %}
    {% if anime %}
    <div class="anime row">
        <table class="table table-bordered center stable">
            <tr>
                <td rowspan="2" width="150px">{% if anime.image %}
                    <img src="{{ anime.image.url }}" class="img-responsive"/>
                    {% endif %}
                </td>
                <td colspan="2"><h1>{{ anime.title }}</h1></td>
                <td colspan="2" class="genre" style="text-align: center">
                    <h4>Genres: </h4> <span class="norm-text">{{ anime.genre }}</span>
                </td>
                <td rowspan="2" width="15%" style="text-align: center">
                    <a class="btn btn-info btn-lg-2px" href="{% url 'anime_edit' pk=anime.pk %}"><span class="glyphicon glyphicon-pencil white"></span></a>
                    <a class="btn btn-danger btn-lg-2px" href="{% url 'anime_delete' pk=anime.pk %}"><span class="glyphicon glyphicon-trash white"></span></a>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="description">
                    <h4>Description: </h4><span class="norm-text" style="font-size: 17px;">{{ anime.description|linebreaksbr }}</span>
                </td>
                <td colspan ="2" class="ranking" style="text-align: center">{% if anime.ranking %}
                    <h4>Ranking:</h4> <span class="norm-text">{{ anime.ranking }}</span>
                    {% else%}<h4>Ranking:</h4> <code class="norm-text">None</code>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endif %}
{% endblock %}
