{% extends 'registration/mymovies/base.html' %}
{% block content %}

    {% if not animes %}
        <center>
            <div>
                <span style="font-size: 100px; color:lightseagreen; margin-left:500px; padding-top:100px;" class="material-icons">tag_faces</span>
                <p style="color:#3b3c3d; margin-left:500px; font-size:20px; padding-top:50px;">
                    Your current list is empty. You can add <code>anime</code> to your list by clicking on the <code>add anime</code> button.
                    <br><a class= "btn btn-success cool" href="{% url 'anime_new' %}">Add Anime</a></br>
                </p>
            </div>
        </center>
    {% endif %}

    {% if animes %}
        <div class="anime row">
            <table class="table table-bordered center stable">
            {% for anime in animes %}
                <tr>
                    <td rowspan="2" width="150px" height="150">{% if anime.image %}
                        <a href="{% url 'anime_detail' pk=anime.pk %}"><img src="{{ anime.image.url }}" class="img-responsive" alt=''/></a>
                        {% endif %}
                    </td>
                    <td colspan="2"><h1><a href="{% url 'anime_detail' pk=anime.pk %}">{{ anime.title }}</a></h1></td>

                    <td colspan="2" class="genre" style="text-align: center">
                        <h4>Genres: </h4> <span class="norm-text">{{ anime.genre }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="description">
                            <h4>Description: </h4><span class="norm-text" style="font-size: 17px;">{{ anime.description|linebreaksbr }}</span>
                    </td>
                    <td colspan ="2" class="ranking" style="text-align: center">{% if anime.ranking %}
                        <h4>Ranking:</h4> <span class="norm-text">{{ anime.ranking }}</span>
                        {% else %}<h4>Ranking:</h4> <code class="norm-text">None</code>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
