{% load staticfiles %}

<html>
     <head>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <link rel="stylesheet" href="{% static 'css/mymovies.css' %}">
         

         <title>My Library</title>
    </head>

    <body>
        <div class="page-header">
            <table>
                <tr style="padding-top:1%;">
                    <td><a href="/" class="sidebar-nav">Home</a></td>
                    <td><a href="{% url 'movie_list' %}" class="sidebar-nav">Movies</a></td>
                    <td><a href="{% url 'series_list' %}" class="sidebar-nav">Series</a></td>
                    <td><a href="{% url 'anime_list' %}" class="sidebar-nav">Anime</a></td>
                    <td style="padding-left: 257%;"><a href="/logout" class="sidebar-nav">Logout</a></td>
                </tr>
            </table>
            {% url 'movie_list' as movie_list %}
            {% if request.path == movie_list %}
                <h1><a href="/">{{user}}'s movies</a></h1>
                <div style="padding-bottom: 3%;">
                    <span><a href="{% url 'movie_new' %}" class="top-menu"><span class= "btn btn-success btn-lg; glyphicon glyphicon-plus"><span></a></span>
                </div>
            {% endif %}
            {% url 'series_list' as series_list %}
            {% if request.path == series_list %}
                <h1><a href="/">{{user}}'s series</a></h1>
                <div style="padding-bottom: 3%;">
                    <span><a href="{% url 'serie_new' %}" class="top-menu"><span class= "btn btn-success btn-lg; glyphicon glyphicon-plus"><span></a></span>
                </div>
            {% endif %}  
            {% url 'anime_list' as anime_list %}
            {% if request.path == anime_list %}
                <h1><a href="/">{{user}}'s anime</a></h1>
                <div style="padding-bottom: 3%;">
                    <span><a href="{% url 'anime_new' %}" class="top-menu"><span class= "btn btn-success btn-lg; glyphicon glyphicon-plus"><span></a></span>
                </div>
            {% endif %}
            {% url 'home' as home %}
            {% if request.path == home %}
                <div style="padding-bottom: 3%;">
                    <h1>{{user}}'s Library</h1>
                </div>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
