{% extends 'registration/mymovies/base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% trans 'The following objects as well as their related objects will be deleted. Are you sure?' %}
        <ul>
            {% for item in object %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="{% trans 'Confirm deletion' %}" />
    </form>
{% endblock %}