{% extends 'registration/mymovies/base.html' %}

{% block content %}
    <div style=padding:30px;>
        <h3 style=>Hello There! <span class="fa fa-hand-spock-o" style="font-size:36px;"></span></h3>
        <p style="padding-top:30px;font-size:19px;font-family:Times New Roman, Times, serif">
            <br>At first, the whole idea was to create a simple list of watched movies, to keep track
                of all the movies watched, but then I thought of creating a better structured website where
                people can make a list of not only movies they have seen.
            </br>
            <br>
                This is a website where you will be able to make your own library of watched 
                movies, series and animes! Useful, right?!
            </br>
            <br> 
                You can start creating your own list! Enjoy!
            </br>    
        </p>
    </div>
{% endblock %}