{% extends 'registration/mymovies/base.html' %}

{% block content %}
{% if movie %}
    <div class="movie row">
        <table class="table table-bordered center stable">
            <tr>
                <td rowspan="2" width="150px">{% if movie.image %}
                    <img src="{{ movie.image.url }}" class="img-responsive"/>
                    {% endif %}
                </td>
                <td colspan="2"><h1>{{ movie.title }}</h1></td>
                <td colspan="2" class="genre" style="text-align: center">
                    <h4>Genres: </h4> <span class="norm-text">{{ movie.genre }}</span>
                </td>
                <td rowspan="2" width="15%" style="text-align: center">
                    <a class="btn btn-info btn-lg-2px" href="{% url 'movie_edit' pk=movie.pk %}"><span class="glyphicon glyphicon-pencil white"></span></a>
                    <a class="btn btn-danger btn-lg-2px" href="{% url 'movie_delete' pk=movie.pk %}"><span class="glyphicon glyphicon-trash white"></span></a>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="description">
                    <h4>Description: </h4><span class="norm-text" style="font-size: 17px;">{{ movie.description|linebreaksbr }}</span>
                </td>
                <td colspan ="2" class="ranking" style="text-align: center">{% if movie.ranking %}
                    <h4>Ranking:</h4> <span class="norm-text">{{ movie.ranking }}</span>
                    {% else%}<h4>Ranking:</h4> <code class="norm-text">None</code>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endif %}
{% endblock %}
