{% extends 'registration/mymovies/base.html' %}
{% block content %}
    {% if not movies %}

        <center>
            <div>
                <span style="font-size: 100px; color:darkslateblue; margin-left:500px; padding-top:100px;" class="glyphicon glyphicon-film"></span>
                <p style="color:#3b3c3d; margin-left:500px; font-size:20px; padding-top:50px;">
                    Your current list is empty. You can add your <code>movies</code> by clicking on the <code>Add movie</code> button.
                    <br><a class= "btn btn-success cool" href="{% url 'movie_new' %}">Add Movie</a></br>
                </p>
            </div>
        </center>
    {% endif %}
            {% if movies %}
                <div class="movie row">
                    <table class="table table-bordered center stable">
                    {% for movie in movies %}
                        <tr>
                            <td rowspan="2" width="150" height="150px">{% if movie.image %}
                                    <a href="{% url 'movie_detail' pk=movie.pk %}"><img src="{{ movie.image.url }}" class="img-responsive"/></a>
                                {% endif %}
                            </td>
                            <td colspan="2"><h1><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title }}</a></h1></td>
                            <td colspan="2" class="genre" style="text-align: center">
                                    <h4>Genres: </h4> <span class="norm-text">{{ movie.genre }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="description">
                                <h4>Description: </h4><span class="norm-text" style="font-size: 17px;">{{ movie.description|linebreaksbr }}</span>
                            </td>
                            <td colspan ="2" class="ranking" style="text-align: center">{% if movie.ranking %}
                                <h4>Ranking:</h4> <span class="norm-text">{{ movie.ranking }}</span>
                                {% else %}<h4>Ranking:</h4> <code class="norm-text">None</code>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            {% endif %}

{% endblock %}
