{% extends 'registration/mymovies/base.html' %}
{% block content %}

    {% if not series %}
        <center>
            <div>
                <span style="font-size: 100px; color:red; margin-left:500px; padding-top:100px;" class="material-icons">live_tv</span>
                <p style="color:#3b3c3d; margin-left:500px; font-size:20px; padding-top:50px;">
                    Your current list is empty. You can add <code>series</code> to your list by clicking on the <code>add serie</code> button.
                    <br><a class= "btn btn-success cool" href="{% url 'serie_new' %}">Add Serie</a></br>
                </p>
            </div>
        </center>
    {% endif %}

    {% if series %}
        <div class="serie row">
            <table class="table table-bordered center stable">
            {% for serie in series %}
                <tr>
                    <td rowspan="2" width="150px" height="150">{% if serie.image %}
                        <a href="{% url 'serie_detail' pk=serie.pk %}"><img src="{{ serie.image.url }}" class="img-responsive" alt=''/></a>
                        {% endif %}
                    </td>
                    <td colspan="2"><h1><a href="{% url 'serie_detail' pk=serie.pk %}">{{ serie.title }}</a></h1></td>

                    <td colspan="2" class="genre" style="text-align: center">
                        <h4>Genres: </h4> <span class="norm-text">{{ serie.genre }}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="description">
                            <h4>Description: </h4><span class="norm-text" style="font-size: 17px;">{{ serie.description|linebreaksbr }}</span>
                    </td>
                    <td colspan ="2" class="ranking" style="text-align: center">{% if anime.ranking %}
                        <h4>Ranking:</h4> <span class="norm-text">{{ serie.ranking }}</span>
                        {% else %}<h4>Ranking:</h4> <code class="norm-text">None</code>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
