{% extends 'registration/mymovies/base.html' %}

{% block content %}
    <h1>New serie</h1>
    <form method="POST" class="serie-form" enctype='multipart/form-data'>{% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
{% endblock %}